html {
    background-color: lightcyan;
}

body#index {
    max-width: auto;
    min-width: 400px;
    height: 800px;
    background-image: url("../images/running.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: -45px;
	max-width: 1280px;
	margin-right: auto;
	margin-left: auto;
}
body#resultPage{
    max-width: auto;
    min-width: 400px;
    height: 800px;
    background-image: url("../images/healthyDiet.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: -45px;
	max-width: 1280px;
	margin-right: auto;
	margin-left: auto;
}
#selectWeight, #selectHeight{
    height: 2em;
    color: lightslategrey;
    font-size: .5em;
}
header > p{
    font-size: 3em;
    font-weight: bold;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    color: lightslategrey;
}
.resu p{
    color: #62392D;
}

#main {
    margin: -50px auto 0px auto;
}
p.descr {
    font-size: 1em;
    width: 60%;
    margin-top: -30px;
    text-align: justify;
}

div.internalDiv{
    float: right;
    width: 30%;
    height: 500px;
    background-color: #E9F2FB;
    border-radius: 7px;
    margin-right: 6em;
    margin-top: 5em;
}
div.internalDivResult{
    float: left;
    width: 30%;
    min-height: 300px;
    background-color: #E0DEE3;
    border-radius: 7px;
    margin-left: 6em;
    margin-top: 5em;
    color: #62392D;
}

form.calc {
    font-size: 2em;
    align: center;
    color: lightslategrey;
    padding: 2em;
}
form input {
    margin-top: 1em;
    margin-bottom: 1em;
    border-radius: 3px;
    height: 2em;
}
#button{
    height: 50px;
    width: 300px;
    background-color: #B6D2EC;
    color: darkslategrey;
    font-size: 2em;
    margin-left: 11%;
    margin-right: auto;
}
p#resultDesc{
    font-size: 1em;
    padding: 1em;
    text-align: justify;
}
/*#height, #heightFeet*/{
    height: 2em;
    color: lightslategrey;
    font-size: .5em;
    display: none;
   position: absolute;
    top: -3px;
    left: 0px;
     width: 3em;
    
    
}
 #weigStone, #weiKg, #weiPound, #heigFeet, #heigMeter{
    display: none;
}
#containerForWeightInput, #containerForHeightInput{
    height: 2em;
    position: relative;
    
}
#weightStones2, #weightStones, #weightPounds, #weight, #heightFeet, #height, #height2, #heightFeet2{
    width: 3em;
    float: left;
}
p.weiStone{
    font-size: .5em;
    color: lightslategray;
    float: left;
    /*vertical-align: bottom;*/
    margin-left: .5em;
    margin-right: 1.5em;
}